/* Reset */
* {
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

/* Page */
body {
  margin: 0;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a7bead;
  color: #3a3a3a;
}

/* Card */
.container {
  width: 850px;
  padding: 100px;
  background: #fff;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 15px 30px rgba(0,0,0,.15);
}

/* Corner image */
.corner-img {
  width: 90px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-10%, -94%);
}

/* Title */
h1 {
  text-align: center;
  margin: -14px 0 4px;
}

/* Subtitle */
.subtitle {
  text-align: center;
  font-size: .9rem;
  color: #666;
  margin-bottom: 20px;
}

/* Input area */
.input-group {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

/* Input + button */
.input-group input,
.input-group button {
  height: 48px;
  border-radius: 12px;
}

/* Text input */
.input-group input {
  flex: 1;
  padding: 0 14px;
  border: 2px solid #d0d6e8;
}

/* Add button */
.input-group button {
  width: 48px;
  border: none;
  background: #2fa84f;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Button hover */
.input-group button:hover {
  background: #0f431d;
}

/* List */
ul {
  padding: 0;
  margin: 0;
  max-height: 220px;
  overflow-y: auto;
}

/* List item */
li {
  list-style: none;
  background: #f5f6ff;
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Task text */
li span {
  flex: 1;
  margin-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

/* Action buttons */
.actions {
  display: flex;
  gap: 16px;
}

/* Buttons */
li button {
  border: none;
  background: none;
  color: #2fa84f;
  cursor: pointer;
  font-size: .85rem;
}

/* Button hover */
li button:hover {
  color: #0f431d;
  text-decoration: underline;
}

/* Completed task */
.completed {
  text-decoration: line-through;
  color: gray;
}